:root {
    --main-color: #59c3c3;
    --accent-color: #52489c;
    --tan-color: #f7e5c2;
    --dark-brown: #6e633d;
    --white: #ececec;
    --gray: #b0b0b4;
    --blue: #018dff;
    --dark-blue: #007bff;
    --blue-highlight: #006dee;
    --purple: #4f429b;
}

/*===================================================================================================================*/
/*---------------------------------------------------# Main #--------------------------------------------------------*/
/*===================================================================================================================*/
main{
    background-color: var(--white);
    margin: auto;

    font-family: Trebuchet MS, sans-serif;
    font-size: 12px;
    line-height: 1em;
    width: 89%;

    padding: 1em;
    margin-top: 15px;
}

body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-blue);
    padding: 10px 50px;
}

/*==================================================# Header #=======================================================*/
.header-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 40px;
}

nav ul li a{
    color: var(--white);
    text-decoration: none;

    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*==================================================# Banner #=======================================================*/
.hero{
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;

    background-color: var(--gray)
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.hero-text h2 {
    font-size: 36px;
}

.hero-text button {
    background-color: var(--tan-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: var(--accent-color);
}

/*===================================================# Home #========================================================*/
#home {
    background-color: var(--white);
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 40px auto;
}

#home h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#home p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

/*================================================# Newsletter #=====================================================*/
.newsletter {
    background-color: var(--dark-blue);
    color: white;
    padding: 20px;
    text-align: center;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}
.newsletter input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    min-width: 200px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: var(--purple);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--gray);
}


/* .content-flexbox{
    display: flex;
    flex-direction: row-reverse;
} */

/* aside{
    width: 7%;
    background-color: #80cece;
    margin: 2%;
    margin-left: 0%;

    padding-left: 1em;
    padding-right: 1em;
} */

/*==================================================# Footer #=======================================================*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* .footer-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    list-style-type: none;
} */



/* .footer-links ul li a{
    color: #2307c5;
    text-decoration: none;
   
}

.footer-links ul li a:hover{
    color: #4f429b;
    text-decoration: none;
    font-size: 15px;

}

.footer-icons img{
    height: 30px;
    padding-right: 10px;
} */

/*===============================================# Product Grid #====================================================*/
.products {
    padding: 20px 20px;
    border-radius: 10px;
}

.products h2 {
    margin: 5px 0px 30px 0px;
}

.product-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.product-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--gray);
    background-color: var(--white);
    padding: 20px;
}
.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}


.product-item h3 {
    margin-bottom: 5px;
    color: var(--dark-brown);
}

.product-item p {
    color: var(--accent-color);
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.product-info p {
    font-size: 1.2em;
    color: #555;
}

.product-info button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--blue);
    border: none;
    color: white;
    cursor: pointer;
}

.product-info button:hover {
    background-color: var(--blue-highlight);
}

form{
    display: table;
}

form p{
    display: table-row;
}

label{
    display: table-cell;
}

input{
    display: table-cell;
    margin: 5px;
}

/*===================================================================================================================*/
/*------------------------------------------------# Pagination #-----------------------------------------------------*/
/*===================================================================================================================*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.pagination a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 5px;
    background-color: #f4f4f4;
}

.pagination a:hover {
    background-color: var(--tan-color);
    color: black;
}

.pagination a.active {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--gray);
}

/*===================================================================================================================*/
/*------------------------------------------------# Login Page #-----------------------------------------------------*/
/*===================================================================================================================*/
.login {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login .form-group label {
    width: 50px;
    margin: 0;
    white-space: nowrap;
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login form {
    width: 100%;
    text-align: left;
}

.login form input {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
}

.login form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login form button:hover {
    background-color: #0056b3;
}

/*===================================================================================================================*/
/*----------------------------------------------# Checkout Page #----------------------------------------------------*/
/*===================================================================================================================*/
/* Shopping Cart */
#shopping-cart {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#shopping-cart h2 {
    text-align: center;
    margin-bottom: 30px;
}

.cart-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-product-img img {
    width: 75px;
    height: auto;
    border-radius: 5px;
}

.cart-product-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.cart-product-details {
    font-size: 16px;
    margin: 0 10px;
}

.cart-product-details.name {
    flex: 1;
}

.cart-product-details.price {
    width: 130px;
}

.cart-product-details.count {
    width: 50px;
    padding-right: 10px;
    text-align: right;
}

.icon.trash {
    cursor: pointer;
    color: red;
}

.icon.trash:hover {
    color: darkred;
}

@media (max-width: 800px){
    header{ 
        display: block;
        width: 100%;
    }

    nav ul{
        display: block;
        padding-left: 10px;
    }

    main{
        width: 100%;
        margin: 1%;
    }

    aside{
        width: 100%;
        margin: 1%;
        margin-top: 0%;
    }

    nav li{
        margin-left: 0px;
    }

    .content-flexbox{
        flex-direction: column-reverse;
    }

    footer{
        display: block;
    }

    .footer-links ul{
        display: block;
        padding-left: 5px;
    }

}