/*===================================================================================================================*/
/*----------------------------------------------# Checkout Page #----------------------------------------------------*/
/*===================================================================================================================*/
:root {
    --main-color: #D33F49;      /* Burnt Red */
    --accent-color: #FDFD96;    /* Mustard Yellow */
    --orange: #FFB30F;          /* Retro Orange */
    --dark-brown: #3B3A30;      /* Deep Brown, inspired by vinyl */
    --dark-blue: #2C2B2E;       /* Deep Black, inspired by vinyl */
    --white: #ECEBE9;           /* Off-White */
    --purple: #4E4D4A;          /* Grayish Purple for Details */
    --gray: #5B5A59;            /* Neutral Gray */
    --blue: #1B4079;            /* Deep Blue */
    --blue-highlight: #1E555C;  /* Blue Highlighter */
}
/* Shopping Cart */
#shopping-cart {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#shopping-cart h2 {
    text-align: center;
    margin-bottom: 30px;
}

.cart-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-product-img img {
    width: 75px;
    height: auto;
    border-radius: 5px;
}

.cart-product-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.cart-product-details {
    font-size: 16px;
    margin: 0 10px;
}

.cart-product-details.name {
    flex: 1;
}

.cart-product-details.price {
    width: 130px;
}

.cart-product-details.count {
    width: 50px;
    padding-right: 10px;
    text-align: right;
}

.icon.trash {
    cursor: pointer;
    color: var(--main-color);
}

.icon.trash:hover {
    color: var(--main-color);
}


/*===================================================================================================================*/
/*----------------------------------------------# Payment Page #-----------------------------------------------------*/
/*===================================================================================================================*/

.payment-section {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}

.payment-section h2 {
    margin-bottom: 20px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.form-section h3 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-button:hover {
    background-color: var(--dark-brown);
}

@media (max-width: 800px) {
    .payment-section {
        padding: 15px;
        margin-top: 10px;
        width: 95%;
    }

    input[type="text"] {
        padding: 8px;
    }

    .submit-button {
        padding: 10px 15px;
        font-size: 14px;
    }


    .header-title h2 {
        font-size: 18px;
    }

    .store-logo {
        width: 40px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}