/*===================================================================================================================*/
/*------------------------------------------------# Login Page #-----------------------------------------------------*/
/*===================================================================================================================*/
.login {
    max-width: 400px;
    margin: 50px auto;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login .form-group label {
    width: 50px;
    margin: 0;
    white-space: nowrap;
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login form {
    width: 100%;
    text-align: left;
}

.login form input {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid var(--white);
    border-radius: 5px;
    flex: 1;
}

.login form button {
    width: 100%;
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login form button:hover {
    background-color: var(--gray);
}
