
/*===============================================# Product Grid #====================================================*/
.products {
    padding: 20px 20px;
    border-radius: 10px;
}

.products h2 {
    margin: 5px 0px 30px 0px;
}

.product-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.product-item{
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 300px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    padding: 20px;
    overflow: hidden;
    line-height: 15px;

    height: 150px;
}
.product-item:hover{
    transition: transform 0.2s ease;
    transform: scale(1.10);
}
.product-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-item h3 {
    margin-bottom: 5px;
    color: var(--dark-blue);
    min-height: 40px;
    overflow: hidden; /* Hides Extra Text */
    text-overflow: ellipsis; /* Uses '...' for overflows */
}

.product-info button {
    margin-top: auto; /* sticks button to bottom */
    padding: 10px;
    width: 120px;
    background-color: var(--dark-blue);
    border: none;
    color: white;
    cursor: pointer;
}

.product-info button:hover {
    background-color: var(--blue-highlight);
}