/*===================================================================================================================*/
/*----------------------------------------------# Product Management #-----------------------------------------------*/
/*===================================================================================================================*/
/* Product Table */
.product-table {
    margin-top: 20px;
    text-align: center;
}

.product-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.product-table th, .product-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #333;
    color: white;
}

.product-table img {
    width: 50px;
    height: 50px;
}

/* Add Product Button */
#add-product-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#add-product-btn:hover {
    background-color: #555;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h3 {
    margin-top: 0;
    color: var(--dark-blue);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: var(--main-color);
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-form label {
    font-weight: bold;
    color: var(--dark-blue);
}

.product-form input, 
.product-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.product-form textarea {
    resize: vertical;
    min-height: 100px;
}

.product-form button {
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: 100px;
}

.product-form button:hover {
    background-color: var(--blue-highlight);
}

@media (max-width: 800px){
    .product-management{
        max-width: 100%;
        overflow: scroll;
    }
    .product-table{
        width: 100%;
    }
}