/*===================================================================================================================*/
/*------------------------------------------------# Album Detail View #----------------------------------------------*/
/*===================================================================================================================*/
.album-detail {
    max-width: 900px;
    margin: 50px auto;
    background-color: var(--white);
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.album-info {
    display: flex;
    flex-direction: row;
}

.album-cover{
    max-width: 260px;
    max-height: 260px;
    width: auto;
    height: auto;
    
    margin-right: 30px;
    z-index: 2;
    transition: transform 1s ease;
}

.album-details h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.artist {
    font-style: italic;
    margin-bottom: 20px;
}

.price {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 1.1em;
    margin-bottom: 30px;
    line-height: 1.5;
}

.album-genre {
    background-color: var(--white);
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 1.2em;
    color: var(--dark-blue);
    width: 200px;
}

.add-to-cart, .play-sample, .go-to-cart {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
}
.go-to-cart{
    background-color: var(--blue);
}
.add-to-cart:hover {
    background-color: var(--dark-brown);
}

.tracklist {
    margin-top: 40px;
}

.tracklist h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.tracklist ol {
    margin: 0;
    padding-left: 20px;
    font-size: 1.1em;
}

.tracklist ol li {
    margin-bottom: 10px;
}

.singles{
    font-weight: bold;
}

.album-cover-container {
    position: relative;
    height: 240px;
    width: 240px;
    margin-bottom: 20px;
    overflow: hidden;

    padding-right: 30px;
}

.vinyl-record {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/vinylrecord.png') no-repeat center center;
    z-index: 1;
    background-size: contain;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 1s ease;
    opacity: 0;
}

.playing .album-cover {
    transform: translateX(120%);
}

.playing .vinyl-record {
    opacity: 1;
    animation: spin 1.8s linear infinite;
}
.quantity-input {
    width: 60px;
    padding: 8px;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-right: 5px;
}
/* Spin animation*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 800px){
    .album-cover-container{
        justify-content: center;
        position: relative;
    }
    .album-info{
        flex-direction: column;
    }
    .add-to-cart, .go-to-cart{
        width: 100px;
    }
}