:root {
    --main-color: #D33F49;      /* Burnt Red */
    --accent-color: #FDFD96;    /* Mustard Yellow */
    --orange: #FFB30F;          /* Retro Orange */
    --dark-brown: #3B3A30;      /* Deep Brown, inspired by vinyl */
    --dark-blue: #2C2B2E;       /* Deep Black, inspired by vinyl */
    --white: #ECEBE9;           /* Off-White */
    --purple: #4E4D4A;          /* Grayish Purple for Details */
    --gray: #5B5A59;            /* Neutral Gray */
    --blue: #1B4079;            /* Deep Blue */
    --blue-highlight: #1E555C;  /* Blue Highlighter */
}

/*===================================================================================================================*/
/*---------------------------------------------------# Main #--------------------------------------------------------*/
/*===================================================================================================================*/
main{
    background-color: var(--white);
    margin: auto;

    font-family: Trebuchet MS, sans-serif;
    font-size: 12px;
    line-height: 1em;
    width: 89%;

    padding: 1em;
    margin-top: 15px;
}

body {
    margin: 0;
    padding: 0;
}

/*==================================================# Header #=======================================================*/
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
    background-color: var(--dark-blue);
    align-items: center;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 10px;
}
.header-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
}
.header-title a{
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
}
.store-logo{
    width: 40px; /* Icon Width */
    height: 40px; /* Icon Height */
    margin-right: 10px;
}
.shopping-cart{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.login-navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.login-navbar a{
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 10px;
    padding-left: 3%;
    margin: 0px;
    background-color: var(--main-color);
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}


/*==================================================# Banner #=======================================================*/
.hero{
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-color: var(--gray); /* Neutral Color */
}
.hero img{
    width: 800px;
    height: auto;
}
.hero-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    padding: 10px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.hero-text button {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: var(--accent-color);
}

/*==================================================# Footer #=======================================================*/
footer {
    background-color: var(--dark-brown);
    width: 100%;
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    z-index: 999;
}

/*===================================================# Home #========================================================*/
#home {
    background-color: var(--white);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 40px auto;
}

#home h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#home p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

/*================================================# Newsletter #=====================================================*/
.newsletter {
    background-color: var(--dark-blue);
    color: white;
    padding: 20px;
    text-align: center;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}
.newsletter input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    min-width: 200px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: var(--purple);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--gray);
}

form{
    display: table;
}

form p{
    display: table-row;
}

label{
    display: table-cell;
}

input{
    display: table-cell;
    margin: 5px;
}
.no-decoration{
    text-decoration: none;
}

/*===================================================================================================================*/
/*------------------------------------------------# Pagination #-----------------------------------------------------*/
/*===================================================================================================================*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.pagination a {
    color: var(--dark-brown);
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 5px;
    background-color: #f4f4f4;
}

.pagination a:hover {
    background-color: var(--orange);
    color: black;
}

.pagination a.active {
    background-color: var(--dark-brown);
    color: white;
    border: 1px solid var(--gray);
}


/*===================================================================================================================*/
/*----------------------------------------------# Other Pages #------------------------------------------------------*/
/*===================================================================================================================*/
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
}
.error-404 {
    font-size: 10em; 
    font-weight: bold;
    height: 60px;
    color: var(--main-color);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1), 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 20px 0;
}
.error-page p {
    margin: 10px 0;
}

@media (max-width: 800px){
    header{ 
        display: block;
        width: 100%;
    }
    .hero img{
        width: 90%;
        height: auto;
    }
    nav ul{
        display: block;
        padding-left: 10px;
    }

    #home {
        width: 90%;
        height: 100px;
        
        padding: 20px;
        margin: 5px;
    }
    
    #home h2 {
        font-size: 24px;
        line-height: 24px;
    }
    
    #home p {
        font-size: 14px;
    }

    main{
        width: 100%;
        margin: 1%;
        padding: 10px 0;
    }

    aside{
        width: 100%;
        margin: 1%;
        margin-top: 0%;
    }

    .products{
        padding: 0px;
        width: 400px;
    }
    nav li{
        margin-left: 0px;
    }

    .content-flexbox{
        flex-direction: column-reverse;
    }

    footer{
        display: block;
    }

    .footer-links ul{
        display: block;
        padding-left: 5px;
    }

    .track-sides {
        flex-direction: column;
    }

    .side-a, .side-b {
        width: 100%;
    }

}