:root {
    --main-color: #D33F49;      /* Burnt Red */
    --accent-color: #FDFD96;    /* Mustard Yellow */
    --orange: #FFB30F;          /* Retro Orange */
    --dark-brown: #3B3A30;      /* Deep Brown, inspired by vinyl */
    --dark-blue: #2C2B2E;       /* Deep Black, inspired by vinyl */
    --white: #ECEBE9;           /* Off-White */
    --purple: #4E4D4A;          /* Grayish Purple for Details */
    --gray: #5B5A59;            /* Neutral Gray */
    --blue: #1B4079;            /* Deep Blue */
    --blue-highlight: #1E555C;  /* Blue Highlighter */
}

/*===================================================================================================================*/
/*---------------------------------------------------# Main #--------------------------------------------------------*/
/*===================================================================================================================*/
main{
    background-color: var(--white);
    margin: auto;

    font-family: Trebuchet MS, sans-serif;
    font-size: 12px;
    line-height: 1em;
    width: 89%;

    padding: 1em;
    margin-top: 15px;
}

body {
    margin: 0;
    padding: 0;
}

/*==================================================# Header #=======================================================*/
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
    background-color: var(--dark-blue);
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 10px;
}
.header-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
}
.header-title a{
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
}
.store-logo{
    width: 40px; /* Icon Width */
    height: 40px; /* Icon Height */
    margin-right: 10px;
}
.login-navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.login-navbar a{
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 10px;
    padding-left: 3%;
    margin: 0px;
    background-color: var(--main-color);
    width: 100%;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}


/*==================================================# Banner #=======================================================*/
.hero{
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-color: var(--gray); /* Neutral Color */
}
.hero img{
    width: 800px;
    height: auto;
}
.hero-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    padding: 10px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.hero-text button {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: var(--accent-color);
}

/*==================================================# Footer #=======================================================*/
footer {
    background-color: var(--dark-brown);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    font-family: 'Courier New', Courier, monospace;
}

/*===================================================# Home #========================================================*/
#home {
    background-color: var(--white);
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 40px auto;
}

#home h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#home p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

/*================================================# Newsletter #=====================================================*/
.newsletter {
    background-color: var(--dark-blue);
    color: white;
    padding: 20px;
    text-align: center;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}
.newsletter input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    min-width: 200px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: var(--purple);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--gray);
}

/*===============================================# Product Grid #====================================================*/
.products {
    padding: 20px 20px;
    border-radius: 10px;
}

.products h2 {
    margin: 5px 0px 30px 0px;
}

.product-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.product-item{
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 300px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    padding: 20px;
    overflow: hidden;
    line-height: 15px;

    height: 150px;
}
.product-item:hover{
    transition: transform 0.2s ease;
    transform: scale(1.10);
}
.product-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-item h3 {
    margin-bottom: 5px;
    color: var(--dark-blue);
    min-height: 40px;
    overflow: hidden; /* Hides Extra Text */
    text-overflow: ellipsis; /* Uses '...' for overflows */
}

.product-info button {
    margin-top: auto; /* sticks button to bottom */
    padding: 10px;
    width: 120px;
    background-color: var(--dark-blue);
    border: none;
    color: white;
    cursor: pointer;
}

.product-info button:hover {
    background-color: var(--blue-highlight);
}


form{
    display: table;
}

form p{
    display: table-row;
}

label{
    display: table-cell;
}

input{
    display: table-cell;
    margin: 5px;
}
.no-decoration{
    text-decoration: none;
}
/*===================================================================================================================*/
/*------------------------------------------------# Album Detail View #----------------------------------------------*/
/*===================================================================================================================*/
.album-detail {
    max-width: 900px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.album-info {
    display: flex;
    align-items: center;
}

.album-cover {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-right: 30px;
}

.album-details h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.artist {
    font-style: italic;
    margin-bottom: 20px;
}

.price {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 1.1em;
    margin-bottom: 30px;
    line-height: 1.5;
}

.add-to-cart {
    background-color: #333;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
}

.add-to-cart:hover {
    background-color: #555;
}

.tracklist {
    margin-top: 40px;
}

.tracklist h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.tracklist ol {
    margin: 0;
    padding-left: 20px;
    font-size: 1.1em;
}

.tracklist ol li {
    margin-bottom: 10px;
}

.singles{
    font-weight: bold;
}

/*===================================================================================================================*/
/*------------------------------------------------# Pagination #-----------------------------------------------------*/
/*===================================================================================================================*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.pagination a {
    color: var(--dark-brown);
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 5px;
    background-color: #f4f4f4;
}

.pagination a:hover {
    background-color: var(--orange);
    color: black;
}

.pagination a.active {
    background-color: var(--dark-brown);
    color: white;
    border: 1px solid var(--gray);
}

/*===================================================================================================================*/
/*------------------------------------------------# Login Page #-----------------------------------------------------*/
/*===================================================================================================================*/
.login {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login .form-group label {
    width: 50px;
    margin: 0;
    white-space: nowrap;
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login form {
    width: 100%;
    text-align: left;
}

.login form input {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
}

.login form button {
    width: 100%;
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login form button:hover {
    background-color: var(--gray);
}

/*===================================================================================================================*/
/*----------------------------------------------# Checkout Page #----------------------------------------------------*/
/*===================================================================================================================*/
/* Shopping Cart */
#shopping-cart {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#shopping-cart h2 {
    text-align: center;
    margin-bottom: 30px;
}

.cart-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-product-img img {
    width: 75px;
    height: auto;
    border-radius: 5px;
}

.cart-product-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.cart-product-details {
    font-size: 16px;
    margin: 0 10px;
}

.cart-product-details.name {
    flex: 1;
}

.cart-product-details.price {
    width: 130px;
}

.cart-product-details.count {
    width: 50px;
    padding-right: 10px;
    text-align: right;
}

.icon.trash {
    cursor: pointer;
    color: var(--main-color);
}

.icon.trash:hover {
    color: var(--main-color);
}

@media (max-width: 800px){
    header{ 
        display: block;
        width: 100%;
    }
    .hero img{
        width: 90%;
        height: auto;
    }
    nav ul{
        display: block;
        padding-left: 10px;
    }

    #home {
        width: 90%;
        height: 100px;
        
        padding: 20px;
        margin: 5px;
    }
    
    #home h2 {
        font-size: 24px;
        line-height: 24px;
    }
    
    #home p {
        font-size: 14px;
    }

    main{
        width: 100%;
        margin: 1%;
        padding: 10px 0;
    }

    aside{
        width: 100%;
        margin: 1%;
        margin-top: 0%;
    }

    .products{
        padding: 0px;
        width: 400px;
    }
    nav li{
        margin-left: 0px;
    }

    .content-flexbox{
        flex-direction: column-reverse;
    }

    footer{
        display: block;
    }

    .footer-links ul{
        display: block;
        padding-left: 5px;
    }

    .album-info {
        flex-direction: column;
        text-align: center;
    }

    .album-cover {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .track-sides {
        flex-direction: column;
    }

    .side-a, .side-b {
        width: 100%;
    }

}